{% extends "adminhome.html" %}
{% block content %}

<div class="container">
    <table class="table table-info text-center mt-5">
        <tr>
            <th>Organisation Name</th>
            <th>Organisation Type</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for item in org  %}
        <tr>
            <td>{{item.Organasation_Name}}</td>
            <td>{{item.Organasation_Type}}</td>
            
            {% if item.activation_status == Flase %}
            <td class="text-warning">Pending For Approval</td>
            {% else %}
            <td class="text-success">Approved</td>
            {% endif %}
                
            <td><a href="{%url 'OrganisationView' item.id %}" class="btn btn-outline-dark">View</a></td>
        </tr>
        {% endfor %}

    </table>
</div>
  
{% endblock %}