{% extends "home.html" %}
{% block content %}

<div class="container mt-5">
    <h2 style="text-align:center;">{{dis}}</h2>
    <table class="table table-info text-center mt-5">
        <tr>
            <th>Requested Product</th>
            <th>Stock</th>
            <th>Date</th>
            <th>Doner</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for item in req  %}
        {% if item.product.Merchant == request.user %}  
        <tr>
            <td>{{item.product.Product_Name}}</td>
            <td>{{item.product.Stock}}</td>
            <td>{{item.Date}}</td>
            <td>{{item.product.Shop_Name}}</td>
            
            {% if item.status == False %}
            <td class="text-warning">Approvel Pending</td>
            {% else %}
            <td class="text-success">Approved</td>
        
            {% endif %}
                
            <td><a href="{%url 'ViewRequest' item.id %}" class="btn btn-outline-danger">View</a></td>
        </tr>
        {% endif %}

        {% endfor %}

    </table>
</div>
  
{% endblock %}